<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1082370212254-7tc28khqfdr10sfvtislv41vt6njv3t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1082370212254-7tc28khqfdr10sfvtislv41vt6njv3t9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1082370212254-rb3a65kmgdbkvktpc92a9r7tbrak2eno.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBA0v4Tq5O80kI_9436_OSAg-TA0-QHHD4</string>
	<key>GCM_SENDER_ID</key>
	<string>1082370212254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cgcalendar.app</string>
	<key>PROJECT_ID</key>
	<string>cgcalendar-2026</string>
	<key>STORAGE_BUCKET</key>
	<string>cgcalendar-2026.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082370212254:ios:6b4d56ecceb75b5c9bd68f</string>
</dict>
</plist>